@import "options";

:root {
	@include mix-vars('round', $skin-round-map);
}

[data-bs-theme="dark"] {
	--vg-rs-skin-round-minMax-color: #f5f5f5;
	--vg-rs-skin-round-minMax-background: rgba(245, 245, 245, 0.1);
}

input.vg-range-slider {
	position: absolute;
	display: block;
	top: 0;
	left: 0;
	width: 0;
	height: 0;
	font-size: 0;
	line-height: 0;
	padding: 0;
	margin: 0;
	overflow: hidden;
	outline: none;
	z-index: -9999;
	background: none;
	border-style: solid;
	border-color: transparent;
	visibility: hidden;
}

.vg-rs {
	display: block;
	width: 100%;
	position: relative;
	user-select: none;

	&-wrapper {
		width: 100%;
		height: 100%;
		display: block;
		position: relative;
	}

	&-line {
		position: absolute;
		display: block;
		overflow: hidden;
		outline: none;
		width: 100%;
	}

	&-min, &-max, &-single, &-to, &-from {
		position: absolute;
		display: block;
		top: 0;
	}

	&-single {
		&:before {
			content: '';
			position: absolute;
			display: block;
			bottom: -6px;
			left: 50%;
			width: 0;
			height: 0;
			margin-left: -3px;
			overflow: hidden;
			border: 3px solid transparent;
		}
	}

	&-min {
		left: 0;
	}

	&-max {
		right: 0;
	}

	&-bar {
		position: absolute;
		display: block;
		left: 0;
		width: 0;
	}

	&-handle {
		position: absolute;
		display: block;
		box-sizing: border-box;
		cursor: default;
		z-index: 1;
	}

	// Skins
	&-skin {
		&-round {
			height: var(--vg-rs-skin-round-height);

			.vg-rs-line {
				top: var(--vg-rs-skin-round-line-top);
				height: var(--vg-rs-skin-round-line-height);
				background-color: var(--vg-rs-skin-round-line-background);
				border-radius: var(--vg-rs-skin-round-line-radius);
			}

			.vg-rs-single {
				color: var(--vg-rs-skin-round-single-color);
				font-size: var(--vg-rs-skin-round-single-font-size);
				line-height: var(--vg-rs-skin-round-single-line-height);
				padding: var(--vg-rs-skin-round-single-padding);
				background-color: var(--vg-rs-skin-round-single-background);
				border-radius: var(--vg-rs-skin-round-single-radius);

				&:before {
					border-top-color: var(--vg-rs-skin-round-single-background);
				}
			}

			.vg-rs-bar {
				top: var(--vg-rs-skin-round-bar-top);
				height: var(--vg-rs-skin-round-bar-height);
				background-color: var(--vg-rs-skin-round-bar-background);
			}

			.vg-rs-handle {
				top: var(--vg-rs-skin-round-handle-top);
				width: var(--vg-rs-skin-round-handle-width);
				height: var(--vg-rs-skin-round-handle-height);
				border: var(--vg-rs-skin-round-handle-border);
				background-color: var(--vg-rs-skin-round-handle-background);
				border-radius: var(--vg-rs-skin-round-handle-radius);
				box-shadow: var(--vg-rs-skin-round-handle-shadow);
			}

			.vg-rs-min, .vg-rs-max, .vg-rs-from, .vg-rs-to {
				color: var(--vg-rs-skin-round-minMax-color);
				font-size: var(--vg-rs-skin-round-minMax-font-size);
				line-height: var(--vg-rs-skin-round-minMax-line-height);
				padding: var(--vg-rs-skin-round-minMax-padding);
				background-color: var(--vg-rs-skin-round-minMax-background);
				border-radius: var(--vg-rs-skin-round-minMax-radius);
			}
		}
	}
}